{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Welcome to the Dashboard</h1>
    <p>This is your main dashboard page. You can add content here to manage your application.</p>
</div>
{% endblock %}
